body {
     background-image: url("HomePageImages/backgroundImg.gif"); 
    /* background-color: #2196f3; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {

   color:whitesmoke;
   font-family:'Trebuchet MS';

}

 th, td {
    border:2px solid yellow;
    color:whitesmoke;
    padding: 5px;
    text-align: center;
}


h1{
    margin-top: 2px;
    margin-bottom: 0px;
}

button {
    padding: 5px;
    font-size: 24px;
    background-color:rgb(95, 95, 201);
}

.RainbowBG {
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
}

.scrollable-content {
    font-family: monospace;
    max-height: 100vh;          
    height: auto;              
    width: 60%;
    max-width: 60%;
    overflow-y: auto;
    padding: 15px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    /* background-color: rgba(0, 0, 0, .1); */
    margin: auto;

}

.games-media {
    text-align: center;
}

.custom-bg {
  /* Full height */
  height: 50%;
  padding:5px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

  .img1 { background-image: url("ArtImages/ContraryMotion_bg.png"); }


.date {
    color:palevioletred;
}